body {
  background-repeat: both;
}

.App {
}

.sprite {
  -ms-interpolation-mode: nearest-neighbour;
  image-rendering: pixelated;
}

.statbar {
  height: 10px;
  display: inline-block;
}
.statbarlabel {
  height: 10px;
  width: 140px;
  text-align: right;
  display: inline-block;
  margin-right: 4px;
}

.objectdebug {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 8px;
}

.object {
  position: absolute;
}

.targetinfo {
  font-family: monospace;
  position: absolute;
  top: -14px;
  left: 0;
  font-size: 8px;
  width: 100px;
}
